<%= form_for(place) do |f| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid %>
    <%= f.text_field :uuid %>
  </div>

  <div class="field">
    <%= f.label :red_count %>
    <%= f.number_field :red_count %>
  </div>

  <div class="field">
    <%= f.label :blue_count %>
    <%= f.number_field :blue_count %>
  </div>

  <div class="field">
    <%= f.label :green_count %>
    <%= f.number_field :green_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
