<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @place.uuid %>
</p>

<p>
  <strong>Red count:</strong>
  <%= @place.red_count %>
</p>

<p>
  <strong>Blue count:</strong>
  <%= @place.blue_count %>
</p>

<p>
  <strong>Green count:</strong>
  <%= @place.green_count %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
